body {
	background: url("https://source.unsplash.com/1920x1080?nature");
	background-size: cover;
}

h1 {
	color: white;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: 400%; 
	text-align: center;
}

p {
	text-align: center;
	font-family: "Century Gothic";
	color: white;
	font-size: 120%;
}

h2 {
	color: white;
	text-align: center;
	font-family: "Century Gothic";
	size: 150%;

}

form {
	margin: 0 auto;
	text-align: center;
}

select {
	width: 130px;
	height: 46px;
	opacity: .7;
	font-family:"Century Gothic";
	font-size: 110%;
}

input {
	width: 200px;
	height: 40px;
	opacity: .5;
	font-family:"Century Gothic";
	font-size: 110%;
}

h3 {
	text-align: center;
	font-family: "Century Gothic";
	font-size: 200%;
	color:white;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: "Century Gothic";
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}